<div class="home-section">
    <div class="hero-image">
        <div class="image">
        </div>
        <div class="description">
            <div class="caption-box">
                <h2>Ensure Child <span style="color: #fc2c62">Education</span> <br/>Over The World</h2>
                <h3>Be a part of the world by make a donation</h3>
                <br>
                <br>
                <a ui-sref="NGOdonate">Donate</a>
            </div>
        </div>
    </div>
    <div class="row nav-box">
        <div class="col-4">
            <a ui-sref="NGOdonate">
                <div class="content">
                    <img src="assets/img/icons/donation.png">
                    <h3>Donate Now</h3>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a ui-sref="NGOcontact">
                <div class="content">
                    <img src="assets/img/icons/phone-contact.png">
                    <h3>Contact Us</h3>
                </div>
            </a>
        </div>
        <div class="col-4">
            <a ui-sref="NGOjoin">
                <div class="content">
                    <img src="assets/img/icons/volunteer.png">
                    <h3>Become A Volunteer</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="container">
        <div class="child-education-box">
            <div class="title">We are non-profit charity & NGO organization works in following domains:</div>
            <div class="row ngo-card">
                <div class="col-md-5 col-12 image">
                    <img src="assets/img/ngo2.jpg">
                </div>
                <div class="col-md-7 col-12 content">
                    <h2>Giving Child Education</h2>
                    <hr>
                    <p>Education is a gift for life. We help children reach school and stay there.
					We help children unlock their potential and realize their dreams.
					We believe that every child is extraordinary and can scale great heights if provided with 
					the right learning opportunities. With regular and generous contributions from our supporters,
					we are able to march steadily towards achieving these goals.</p>
                    <div class="rise-fund">RAISED : ************</div>
                    <br>
                    <div class="ngo-donate-button"><a ui-sref="NGOdonate">Donate</a></div>
                </div>
            </div>
			<br>
			<div class="row ngo-card">
                <div class="col-md-5 col-12 image">
                    <img src="assets/img/ngo5.jpg">
                </div>
                <div class="col-md-7 col-12 content">
                    <h2>Health Awareness Programs</h2>
                    <hr>
                    <p>Mental, Physical, Social Health Awareness poster exhibition, Street Play, through
					internet via SMS or by using social site like Face book etc.
					Most of the Activities are Conducted free of Charges for Slums 
					Children/Parents/Residents & Corporation Schools.</p>
                    <div class="rise-fund">RAISED : ************</div>
                    <br>
                    <div class="ngo-donate-button"><a ui-sref="NGOdonate">Donate</a></div>
                </div>
            </div>
			<br>
			<div class="row ngo-card">
                <div class="col-md-5 col-12 image">
                    <img src="assets/img/blanket.jpg">
                </div>
                <div class="col-md-7 col-12 content">
                    <h2>Welfare works</h2>
                    <hr>
                    <p>Works such as distribution of blanket, Food and other necessary items for poor people.</p>
                    <div class="rise-fund">RAISED : ************<//div>
                    <br>
                    <div class="ngo-donate-button"><a ui-sref="NGOdonate">Donate</a></div>
                </div>
            </div>
        </div>

        <div class="recent-work">
            <h2>Upcoming Events</h2>
            <h3>Your little support can bring smile to the poor students</h3>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top" style="background-image: url('assets/img/ngo3.jpg');background-size: cover;background-position:center;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Health Awareness</h5>
                            <p class="card-text">will be updated soon!</p>
                            <a ui-sref="NGOdonate" class="btn btn-primary">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top" style="background-image: url('assets/img/ngo4.jpg');background-size: cover;background-position:center;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Help camp</h5>
                            <p class="card-text">will be updated soon!</p>
                            <a ui-sref="NGOdonate" class="btn btn-primary">Donate</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-img-top" style="background-image: url('assets/img/ngo5.jpg');background-size: cover;background-position:center;">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Digital Awareness camp</h5>
                            <p class="card-text">will be updated soon!</p>
                            <a ui-sref="NGOdonate" class="btn btn-primary">Donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lets-work-together text-center">
            <h3>Give a little & change a lot.</h3>
            <h2>Let’s Work Togather!!</h2>
            <br>
            <div class="ngo-donate-button-bottom"><a ui-sref="NGOdonate">Donate</a></div>
        </div>

        <div class="testimonals">
            <h2 class="text-center">What People Say</h2>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="testimonals-card">
                        <blockquote>"MARK Humans is a very dedicated organization, working hard towards the betterment of the society. It is good to see young students come forward and work towards a better future.”</blockquote>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <h5 class="card-title">Mohd Luqman</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Research Scholar, AMU</h6>
                            </div>
                            <div class="col-md-4 col-4">
                                <img src="assets/img/luqman.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonals-card">
                        <blockquote>"I feel so proud to be associated with MARK Humans.Their projects of Child Education and welfare is highly commendable. Keep up the good work. God bless you!”</blockquote>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <h5 class="card-title">Mohd Danish</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Software Developer, InstaOffice</h6>
                            </div>
                            <div class="col-md-4 col-4">
                                <img src="assets/img/danish.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="testimonals-card">
                        <blockquote>"MARK Humans is a wonderful organization, an NGO which works for the development 
						and betterment for the society especially for the poor people. </blockquote>
                        <hr>
                        <div class="row">
                            <div class="col-md-8 col-8">
                                <h5 class="card-title">Shaharyar Alam Ansari</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Research Scholar, AMU</h6>
                            </div>
                            <div class="col-md-4 col-4">
                                <img src="assets/img/shaharyar.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>