
<div class="container page-content">
	<div class="row">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfB1ly9XzrL3rIeDXuYIrUZIhGcKexlrtojAeDOr-EFH_lsVw/viewform?embedded=true" scrolling="no" width="100%" height="1125px" style="background: #FFFFFF;overflow:hidden;" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
			<!--form>
				<div class="form-group">
					<label for="exampleInputEmail1">Your Name</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Student / Employee / other</label>
					<select class="form-control">
						<option>Select you choice</option>
						<option>Student</option>
						<option>Employee</option>
						<option>Others</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Join as</label>
					<select class="form-control">
						<option>Select you choice</option>
						<option>Volunteer</option>
						<option>other</option>
					</select>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Email</label>
					<input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Mobile Number</label>
					<input type="nukber" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form-->			
		</div>
	<div class="row">
		<div class="offset-md-1 col-md-9">
			<b><p>Note: If you have any query just let us know at "email address" or "mobile number"</p></b>
		</div>
	</div>
</div>