<div class="page-title-section">
	<h1>Our Events</h1>
	<small><a href="/">Home</a> / Events</small>
</div>
<div class="container page-content events-section">
	<h2><span>Our Upcoming Events</span></h2>
	<br>
	<div class="row">
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/ngo3.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Event Title</h4>
                            <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Join Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/ngo9.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Event Title</h4>
                            <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Join Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/ngo8.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Event Title</h4>
                            <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Join Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/ngo9.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">Event Title</h4>
                            <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Join Us</a>
                        </div>
                    </div>
                </div>
            </div>
    <br>
	<h2><span>Our Past Events</span></h2>
	<br>
	<div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="assets/img/ngo7.JPG" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Health Awareness</h4>
                    <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Join Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="assets/img/ngo4.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Awareness Program</h4>
                    <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Join Us</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="assets/img/ngo5.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Awareness & Health Camps</h4>
                    <p class="card-text">Some quick example text to build on the Event Title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Join Us</a>
                </div>
            </div>
        </div>
    </div>
</div>