<div class="page-title-section">
	<h1>Our Team Members</h1>
	<small><a href="/">Home</a> / Team</small>
</div>
<div class="container page-content">
	<center><h3><b>“The best way to find yourself is to lose yourself in the service of others.”</b></h3></center>
    <div class="row about-us-card">
    	<div class="col-md-3 text-center">
    		<div class="card">
				<div class="card-image">
					<img class="card-img-top" src="assets/img/vol2.png" alt="Card image cap">
				</div>
				<div class="card-body">
				<h4 class="card-title">Aasif Uddin Khan</h4>
				<small><b>President</b></small>
				</div>
			</div>
    	</div>
    	<div class="col-md-3 text-center">
    		<div class="card">
				<div class="card-image">
					<img class="card-img-top" src="assets/img/vol2.png" alt="Card image cap">
				</div>
				<div class="card-body">
				<h4 class="card-title">Arshad Aslam</h4>
				<small><b>Vice-President</b></small>
				</div>
			</div>
    	</div>
		
		<div class="col-md-3 text-center">
    		<div class="card">
				<div class="card-image">
					<img class="card-img-top" src="assets/img/vol2.png" alt="Card image cap">
				</div>
				<div class="card-body">
				<h4 class="card-title">Shandaar Khursheed</h4>
				<small><b>Secretary</b></small>
				</div>
			</div>
    	</div>
		<div class="col-md-3 text-center">
    		<div class="card">
				<div class="card-image">
					<img class="card-img-top" src="assets/img/vol2.png" alt="Card image cap">
				</div>
				<div class="card-body">
				<h4 class="card-title">Virendra Kumar</h4>
				<small><b>Joint Secretary</b></small>
				</div>
			</div>
    	</div>
		<div class="col-md-3 text-center">
    		<div class="card">
				<div class="card-image">
					<img class="card-img-top" src="assets/img/vol2.png" alt="Card image cap">
				</div>
				<div class="card-body">
				<h4 class="card-title">Athar Aslam Khan</h4>
				<small><b>Treasurer</b></small>
				</div>
			</div>
    	</div>    	
    </div>
</div>