<div class="page-title-section">
	<h1>About MarkHumans</h1>
	<small><a href="/">Home</a> / About</small>
<div class="container page-content">
	<h2>Working <span class="highlight-color">Since 2014</span> to Make The World happy again</h2><br>
	<p align="justify">Our mission is to inspire and empower people to change their world.From leaders who are already making an 
	impact, to people who are interested in becoming more involved, but don’t know where to start, our goal is to
	make our programs accessible to anyone, anywhere.</p>
	<p>We have decided to take some important initiative steps for our society, for our people. 
	And we'll be able to do this with the help of our NGO and of course you people. 
	Our NGO's main focus is to bring change and development in surrounding communities. 
	Our members will be working upon various drawbacks of the society and will try to overcome them. 
	Our team has decided to work on the education, health, welfare of the society and various other. 
	We are going to work in such a way that we will try to reach the people who are in need and will help them 
	in every aspect. Our focus will be on how we can make the life of the needy people easier.
	</p>
	<hr>
	<h4>As an independent non-governmental social development organization we works for:</h4>
	<ul>
	<h5>Child Education</h5>
	<li>
<p align="justify">Education is a gift for life. We help children reach school and stay there.We help children unlock their
 potential and realize their dreams.  We believe that every child is extraordinary and can scale great heights if 
 provided with the right learning opportunities.  With regular and generous contributions from our supporters, we 
 are able to march steadily towards achieving these goals.<br>
We are committed to ensure that all children, irrespective of their origin, are able to go to school, play, interact and learn with other children of their age. We help children with limited means hone their creativity and skills under the guidance of trained teachers and make persistent efforts to enable them to secure a life of dignity for themselves, their families and the community at large.
</p></li>
<h5>Awareness Programs</h5>
<li>
<p align="justify">MarkHumans, time to time do awareness programme related to health, 
with help of volunteer Doctors, who devote their time for the betterment of the society.</p>
</li>
<p align="justify"><b>Health related awareness programmes have the following objectives:-<b>
<li align="left">To increase public awareness that disease are significant public health problem.</li>
<li align="left">To increase public awareness of symptoms and signs of disease.</li>
<li align="left">To improve the knowledge and attitudes of patients about detection, treatment and control of disease.</li>
<li align="left">To promote the family and community educational material essential for positive lifestyle habits.</li>
<li align="left">To create public awareness about the ill=effects of alcohol, smoking and drugs, etc.</li>
<li align="left">This health awareness programme will also focus to develop a panel of local people who can handle
 any critical situation. These programmes help local community.</li>
<li align="left">To increase knowledge, attitude and skills of all health professionals regarding sign, 
symptoms and management strategies for health hazards to improve disease control.</li>
<li align="left">To encourage health professionals to treat patients carefully.</li>
<li align="left">To develop resource and material for use of health professionals.</li>
<li align="left">To promote research all over the world to curb health hazards.</li>
<li align="left">To encourage continuing educational programmes on accurate information on diagnosis and treatment of diseases.</li>
</p>
<br>
<h5>Welfare Works</h5>
<li>
<p align="justify">India is a densely populated country where a large number of people live
 without access to the basic needs and primary facilities.So we distribute blanket and other things time to time. </p>
</li>
	<div class="row">
        <div class="col-md-12"><br><hr>
            <h4 class="card-title" align="right"><b>Founder</b></h4>
            <!--h6 class="card-subtitle mb-2 text-muted">Founder</h6-->
        </div>
    </div>
    </div>
	</div>