<div class="page-title-section">
    <h1>Contact Us</h1>
    <small><a href="/">Home</a> / Contact</small>
</div>
<div class="container page-content">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Your Name</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
                    <small id="emailHelp" class="form-text text-muted">We will never share your email with anyone else.</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Mobile Number</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Mobile Number">
                </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">            	
				<div class="form-group">
					<label for="exampleFormControlTextarea1">Your Query</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter text here..."></textarea>
				</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>