<div class="page-title-section">
	<h1>Donation</h1>
	<small><a href="/">Home</a> / Events</small>
</div>
<div class="container page-content events-section">
<h3>Donate Now!!</h3>
<br/>
<b>Acc Name: Mark Educational and Welfare Society</b>
<br/><br/>
<b>Acc No: 916010062071944</b>
<br/><br/>
<b>Bank Name :AXIS Bank</b>
<br/><br/>
<b>Branch: Agra Road, Aligarh, U.P</b>
<br/><br/>
<b>IFSC Code: UTIB0001837</b>
<hr>
If You have any problem please contact
+91-9650981761, +91-7065412380
	</div>	
	<!--h2>How Much Would you like to Donate?</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="form-check">
		<label class="form-check-label">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
			$200
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
			$500
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
			$700
		</label>
	</div>
	<div class="form-check">
		<label class="form-check-label">
			OR
		</label>
		<input class="form-control" type="text" name="exampleRadios" id="exampleRadios2" value="" placeholder="Enter your custom donation">
	</div>
	<div class="form-check">
		<label class="form-check-label">
		<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
			Donate a full education to a children
		</label>
	</div>
		</div>
	</div>
	<hr>
	<h2>Billing Information</h2>
	<small id="emailHelp" class="form-text text-muted">We'll not share your information with anyone else</small>
	<form>
	<div class="row">
		<div class="col-md-6">			
			<div class="form-group">
				<label for="exampleInputEmail1">Your Name</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
				<label for="exampleInputEmail1">Phone</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone">
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
				<label for="exampleInputEmail1">Address 1</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Address">
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
				<label for="exampleInputEmail1">Address 2</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Address">
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
			<label for="exampleFormControlSelect1">Select you city</label>
			<select class="form-control" id="exampleFormControlSelect1">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
			</div>
		</div>
		<div class="col-md-6">			
			<div class="form-group">
			<label for="exampleFormControlSelect1">Select you state</label>
			<select class="form-control" id="exampleFormControlSelect1">
			  <option>1</option>
			  <option>2</option>
			  <option>3</option>
			  <option>4</option>
			  <option>5</option>
			</select>
			</div>
		</div>
	</div>
		<button type="submit" class="btn btn-primary">Donate Now</button>
	</form-->	
</div>