<div class="page-title-section">
	<h1>Our Projects</h1>
	<small><a href="/">Home</a> / Projects</small>
</div>
<div class="container page-content events-section">
	<div class="row ngo-card">
		<div class="col-md-5 col-12 image">
		    <img src="assets/img/ngo2.jpg">
		</div>
		<div class="col-md-7 col-12 content">
		    <h2>Giving Child Education</h2>
		    <hr>
		    <p>Education to all those child who can not afford their cost of education.</p>
		    <div class="rise-fund">RAISED : ************</div>
		    <br>
		    <div class="ngo-donate-button"><a ui-sref="NGOdonate">Donate</a></div>
		</div>
	</div>
	<div class="row ngo-card">
		<div class="col-md-5 col-12 image">
		    <img src="assets/img/ngo7.JPG">
		</div>
		<div class="col-md-7 col-12 content">
		    <h2>Awareness & Health Camps</h2>
		    <hr>
		    <p>Diabetes awareness program was launched on 14th November.</p>
		    <div class="rise-fund">RAISED : ************</div>
		    <br>
		    <div class="ngo-donate-button"><a ui-sref="NGOdonate">Donate</a></div>
		</div>
	</div>
</div>